@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(180deg, #b068e9 0%, #6463e7 100%);
  background-repeat: no-repeat;
}

main {
  width: 330px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -40px;
  margin-bottom: 40px;
}

.image-container {
  width: 237px;
  height: 180px;
  position: relative;
  z-index: 1;
  top: 70px;
  content: url(../src/assets/illustration-woman-online-mobile.svg);
}

.pattern-container {
  width: 240px;
  height: 145px;
  position: relative;
  top: -30px;
  content: url(../src/assets/bg-pattern-mobile.svg);
}

h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #1e1f36;
  text-align: center;
  margin-top: -20px;
}

.card-details {
  background-color: white;
  box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
  border-radius: 23px;
  width: 327px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

summary {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #4b4c5f;
  padding-top: 10px;
}

details {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #787887;
  border-bottom: 0.5px solid #e8e8ea;
  width: 279px;
  padding-bottom: 12px;
}

summary::after {
  margin-left: 1ch;
  padding-bottom: 12px;
  display: inline-block;
  transition: 0.2s;
  content: url("../src/assets/icon-arrow-down.svg");
}

details[open] summary {
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #1e1f36;
}

details[open] {
  padding: 0.5em;
}

details[open] summary::after {
  transform: rotate(180deg);
}

@media screen and (min-width: 1000px) {
  main {
    width: 920px;
    min-height: 500px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
    border-radius: 23px;
    margin-top: 40px;
    padding-bottom: 40px;
    padding-top: 40px;
    background-image: url(../src/assets/illustration-woman-online-desktop.svg);
    background-repeat: no-repeat;
    background-position: -20% 50%;
  }

  .box {
    position: relative;
    right: 450px;
    top: 50px;
    z-index: 1;
    width: 150px;
    content: url(../src/assets/illustration-box-desktop.svg);
  }

  .image-container {
    display: none;
  }

  .pattern-container {
    display: none;
  }

  h1 {
    margin-top: 0px;
  }

  .card-details {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: none;
    border-radius: 0px;
  }
}
